@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: "Inconsolata", monospace;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  text-align: center
}

/* body {
  background: url("../images/map.png");
  background-size:100%
} */
img {
  display: block;
  margin: 0 auto;
}

a {
  color: slategray;
}

a:hover {
  color: black
}

.grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.dropbtn {
  color: slategray;
  background-color: white;
  border: 1px dashed slategray;
}

.dropdown {
  position: absolute;
  display: inline-flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: gainsboro;
}

img {
  max-width: 100%;
  height: auto
}

.map {
  max-width: 100%;
}

.wrapper {
  display: flex
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-flex;
  justify-content: center
}

.dropbtn {
  color: slategray;
  background-color: white;
  border: 1px dashed slategray;
}

.dropdown {
  position: relative;
  display: inline-flex;
  flex-direction: row;
}

.dropdown-content {
  display: none;
  position: center;
  background-color: white;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: gainsboro;
}

img {
  max-width: 100%
}

.map {
  max-width: 100%;
}

input {
  text-align: right;
}